body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
}

.main,
.wrap {
    flex-grow: 1;
}

.container {
    max-width: 50em;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2em;
    padding-left: 2em;
}

.wrap_side-left {
    display: flex;
    justify-content: center;

    .main {
        max-width: 960px;
        padding-right: 2em;
        padding-left: 2em;
    }

    .side {
        width: 320px;
        order: -1;
    }

    .page__title {
        text-align: left;
    }
}
