.post {
    &__title {
        font-weight: normal;
        font-size: 1.5em;
        text-align: center;

        .post__list & {
            margin-top: 2rem;
            margin-bottom: 0;
            text-align: left;
            color: $green;
        }

        .post__list .post__link:hover & {
            color: $black;
        }
    }

    &__link {
        display: block;

        .post__list & {
            text-decoration: none;
            color: inherit;
        }
    }

    &__thumbnail {
        display: block;

        .page &,
        .single-post & {
            width: 100%;;
        }
    }

    &__navigation {
        display: flex;
        margin: 5em 0;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;

        &__link {
            width: 50%;
            text-decoration: none;
        }

        &__next {
            text-align: right;

            .post__navigation__text {
                margin-right: 1em;
            }
        }

        &__prev {
            direction: rtl;
            text-align: left;

            .post__navigation__text {
                direction: ltr;
                margin-left: 1em;
            }
        }

        &__image {
            max-width: 150px;
            vertical-align: middle;
        }

        &__empty:before {
            content: "\00a0";
        }
    }

    &__preview {
        display: flex;

        .post__thumbnail__container {
            width: 300px;
            margin-left: 2em;
            flex-shrink: 0;
            order: 2;
        }
    }
}

.post-listing {
    overflow: auto;
    white-space: nowrap;

    &__container,
    .post {
        height: 80vh;
        height: calc(100vh - 185px);
        max-height: 1024px;
        min-height: 320px;
        overflow: hidden;
    }

    &__container {
        position: relative;

        &:after {
            content: ">";
            margin-top: -.625em;
            position: absolute;
            right: .25em;
            top: 50%;
            font-size: 5em;
            opacity: .75;
            cursor: pointer;
        }
    }

    .post {
        display: inline-block;
        position: relative;
        white-space: normal;

        &__link {
            height: 100%;
        }

        &__header {
            padding: 3em 2em 1em;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            background: linear-gradient(0deg, rgba($green, .9), rgba($green, 0));
            transition: opacity .4s;
        }

        &:hover,
        &:focus {
            .post__header {
                opacity: 1;
            }
        }

        &__title {
            margin: 0;
            text-align: left;
            color: $white;
        }

        &__thumbnail {
            max-width: none;
            height: 100%;
        }
    }
}
