.nav-main {
    display: inline-block;
    margin-right: 1em;

    .nav-menu {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .menu-item {
        display: inline-block;
        margin-left: 1em;

        & > a {
            display: block;
            padding: 46px 1em 29px;
            text-decoration: none;
            color: $text;

            &:hover {
                color: $green;
            }
        }
    }

    &__toggle {
        display: none;
        width: 40px;
        height: 31px;
        position: relative;
        transition: .5s ease-in-out;
        cursor: pointer;
        background: none;
        border: 0;

        &:focus {
            outline: none;
        }
    }

    &__row {
        width: 100%;
        height: 7px;
        position: absolute;
        left: 0;
        background-color: $green;
        border-radius: 9px;
        transition: .25s ease-in-out;

        &1 {
            top: 0;
        }

        &2,
        &3 {
            top: 12px;
        }

        &4 {
            top: 24px;
        }
    }

    &__toggle_open {
        .nav-main__row {
            &1,
            &4 {
                width: 0;
                left: 50%;
                top: 18px;
            }

            &2 {
                transform: rotate(45deg);
            }

            &3 {
                transform: rotate(-45deg);
            }
        }
    }
}
